
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />

<table class="table align-middle table-striped">
    <thead>
        <tr>

            <th scope="col">Oras</th>
            <th scope="col">Adresa</th>
            <th scope="col">Detalii</th>
            @if (User.IsInRole("Administrator"))
            {

                <th scope="col">Editeaza</th>
            }
        </tr>
    </thead>
    <tbody>

        @if (ViewBag.LocationsCount != 0)
        {
            foreach (var location in ViewBag.LocationsList)
            {
                <tr>
                    <th scope="row">@location.City</th>
                    <td>@location.Address</td>
                    <td>

          
                            @Html.ActionLink("Arata", "Show", "Locations", new { id = location.LocationId }, new { @class = "btn btn - link btn - sm px - 3 btn-outline-dark" })
                        
                    </td>
                    @if (User.IsInRole("Administrator"))
                    {

                        <td>
                            <button type="button" class="btn btn-link btn-sm px-3" data-ripple-color="dark">
                                @Html.ActionLink("Editeaza", "Edit", "Locations", new { id = location.LocationId }, new { @class = "btn btn - link btn - sm px - 3 btn-outline-dark" })

                            </button>
                        </td>
                    }
                </tr>



            }
        }


    </tbody>
</table>

<span>
    <a href="/Departments/Index/">
        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">
            Afisare lista departamente
        </button>
    </a>
</span>
@if (User.IsInRole("Administrator"))
{
    <span>
        <a href="/Locations/New">
            <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">
                Adauga locatie
            </button>
        </a>
    </span>
}

