
@{
    ViewBag.Title = "Index";
}


<br />
<br />
<div class="align-items-center justify-content-center align-content-center" style="text-align:center">
    <h3>Lista locatii</h3>
</div>
<br />

<table class="table align-middle table-striped">
    <thead>
        <tr>

            <th scope="col">Oras</th>
            <th scope="col">Adresa</th>
            <th scope="col">Detalii</th>
            @if (User.IsInRole("Administrator"))
            {

                <th scope="col">Editeaza</th>
            }
        </tr>
    </thead>
    <tbody>

        @if (ViewBag.LocationsCount != 0)
        {
            foreach (var location in ViewBag.LocationsList)
            {
                <tr>
                    <th scope="row">@location.City</th>
                    <td>@location.Address</td>
                    <td>

          
                            @Html.ActionLink("Arata", "Show", "Locations", new { id = location.LocationId }, new { @class = "btn btn - link btn - sm px - 3 btn-outline-dark" })
                        
                    </td>
                    @if (User.IsInRole("Administrator"))
                    {

                        <td>
                            <button type="button" class="btn btn-link btn-sm px-3" data-ripple-color="dark">
                                @Html.ActionLink("Editeaza", "Edit", "Locations", new { id = location.LocationId }, new { @class = "btn btn - link btn - sm px - 3 btn-outline-dark" })

                            </button>
                        </td>
                    }
                </tr>



            }
        }


    </tbody>
</table>


<div class="text-center align-content-center align-items-center justify-content-center">
    <span class="text-center align-content-center align-items-center justify-content-center">
        <a href="/Departments/Index/" type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">

            Afisare lista departamente

        </a>
    </span>
    @if (User.IsInRole("Administrator"))
    {
        <span class="text-center align-content-center align-items-center justify-content-center">
            <a href="/Locations/New" type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">
                Adauga locatie

            </a>
        </span>
    }
</div>

