
@{
    ViewBag.Title = "New";
}

<h2>New</h2>


<form method="post" action="/Locations/New">
    <label>Oras</label>
    <input type="text" name="City" />
    <br />
    <label>Adresa</label>
    <input type="text" name="Address" />
    <br />
    <label>Latitudine</label>
    <input type="text" name="Latitude" />
    <br />
    <label>Longitudine</label>
    <input type="text" name="Longitude" />
    <br />

    <label>Selectati departamentele</label>
    <select name="DepartmentId">
        @foreach (var department in ViewBag.Departments)
        {
            <option value="@department.DepartmentId">
                @department.DepartmentName
            </option>
        }
    </select>
    <br />
    <button type="submit">Adauga Locatie</button>
</form>