@model MedOffice.Models.LocationDepartment 
@{
    ViewBag.Title = "Idex";
}

<h2>Idex</h2>
@if (ViewBag.LocationDepartmentsCount != 0)
{
    foreach (var locdep in ViewBag.LocDeps)
    {
        <h2>@locdep.Location.Address</h2>
        foreach(var locdep2 in ViewBag.Locdeps)
        {
            if (locdep.Location == locdep2.Location)
            {
                <p>@locdep2.Department.DepartmentName</p>
            }
        }


        <br />
    }

}

<a href="/LocationDepartments/Index/">Afisare lista locatii si departamente </a>
<br />
<a href="/LocationDepartments/New">Asociaza Locatie cu Departament</a>
<br />
