@{
    ViewBag.Title = "Home Page";
}

<body style="background-color:#eee" class="vh-100 container h-100">
    <!-- Jumbotron -->
    <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white "
         style="background-image: url('https://i.pinimg.com/736x/9a/5b/80/9a5b801611e55768c1ad136802b357c9.jpg'); ">
        <h1 class="mb-3 h2">Medical Office</h1>

        <p>
            Cat timp a trecut de cand ai fost ultima data la medic? Peronalul nostru te asteapta pregatit sa iti ofere o mana de ajutor!
        </p>

    </div>


    <!-- Jumbotron -->

    <div class="card-group">
        <div class="card">
            <img src="https://i.pinimg.com/236x/e8/3f/72/e83f729ee8db3ec2b32becbae30de540.jpg" class="card-img-top" alt="Department Image" height="500 px" />
            <div class="card-body">
                <h5 class="card-title">Departamente</h5>
                <p class="card-text">
                    Esti curios cu ce te putem ajuta? Mai jos gasesti o lista cu toate departamentele noastre!
                </p>
                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">
                    Vezi lista
                </button>
            </div>

        </div>
        <div class="card">
            <img src="https://i.pinimg.com/736x/b1/fb/e9/b1fbe94a1d394ad38057a111e0c771cc.jpg" class="card-img-top" alt="Locations Image" height="500 px" />
            <div class="card-body">
                <h5 class="card-title">Locatii</h5>
                <p class="card-text">Nu esti sigur daca avem cabinet in orasul tau? Verifica lista de mai jos!</p>

                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">
                    Vezi lista
                </button>
            </div>


        </div>
        <div class="card">
            <img src="https://i.pinimg.com/originals/b7/9d/97/b79d9742d61b0703c822b4dd2ce685f6.jpg" class="card-img-top" alt="Investigations Image" height="500 px" />
            <div class="card-body">
                <h5 class="card-title">Investigatii</h5>
                <p class="card-text">
                    Ai aflat ca ai nevoie de o investigatie dar nu stii unde sa mergi? Probabil te putem ajuta noi!
                </p>

                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">
                    Vezi lista
                </button>
            </div>


        </div>
    </div>
</body>