@model MedOffice.Models.Appointment
@{
    ViewBag.Title = "New";
}


<body style="background-color: #eee;">

    <section class="vh-100">
        <div class="container h-100 align-content-center align-items-center">

            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black align-content-center align-items-center" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Adaugare doctor </p>
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    @using (Html.BeginForm(actionName: "New", controllerName: "Appointments"))
                                    {



                                        @Html.DropDownListFor(m => m.LocationId, new SelectList(Model.Locations, "Value", "Text"), "Selectati Locatia", new { @class = "form - control" })
                                        <br />
                                        <br />

                                        @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.Departments, "Value", "Text"), "Selectati Departamentul", new { @class = "form - control" })
                                        <br />
                                        <br />

                                        @Html.DropDownListFor(m => m.DoctorId, new SelectList(Model.Doctors, "Value", "Text"), "Selectati Doctorul", new { @class = "form - control" })
                                        <br />
                                        <br />

                                        <label for="start">Selecteaza data </label>

                                        <input type="date" id="start" name="trip-start"
                                               value="2022-06-17"
                                               min="2022-01-01" max="2022-12-31">

                                        <br />
                                        <br />

                                        <label for="appt">Alege ora:</label>

                                        <input type="time" id="appt" name="appt"
                                               min="09:00" max="18:00" required>

                                        <small>Programul este de la 9 la 18</small>

                                        <br />
                                        <br />

                                        <div class="form-group">
                                            <div class="row mb-4">
                                                <div class="col d-flex justify-content-center">

                                                    <div class="col-md-10 d-flex flex-row align-items-center mb-4">

                                                        <button class="btn btn-sm btn-success" type="submit">
                                                            Adauga programarea
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                    <img src="https://pbs.twimg.com/media/EfJu2FbU4AA-NIf.jpg"
                                         class="img-fluid" alt="Sample image" />

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


</body>