@{
    ViewBag.Title = "New";
}
<h2>New</h2>
<form method="post" action="/Departments/New">
    <label>Nume</label>
    <input type="text" name="DepartmentName" />
    <br />
    <label>Descriere</label>
    <textarea  name="DepartmentDescription" ></textarea>

    <br />
    <button type="submit">Adauga Departament</button>
</form>