
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>


<h1>Afisare Departament</h1>
<h2>@ViewBag.Department.DepartmentName</h2>
<p>@ViewBag.Department.DepartmentDescription</p>



<a href="/Department/Edit/@ViewBag.Department.DepartmentId">Modifica Departament</a>
<form method="post" action="/Department/Delete/@ViewBag.Department.DepartmentId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge Departament</button>
</form>
<hr />
<a href="/Departments/Index">Inapoi la departamente</a>
<br />
<a href="/Departments/New">Adauga departament</a>

