
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (ViewBag.DoctorsCount != 0)
{
    foreach (var doc in ViewBag.docs)
    {
        <p>@doc.LocationId</p>
        <p>@doc.DepartmentId</p>

        <br />
    }

}

<a href="/LocationDepartments/Index/">Afisare lista locatii si departamente </a>
<br />
<a href="/LocationDepartments/New">Asociaza Locatie cu Departament</a>
<br />