@model MedOffice.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<div class="pull-right" style="display: inline-flex">
    <div class="container" style="float:left">
        <div class="pull-right">
            <br />
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm" method="GET">
                        <div class="card-body row no-gutters align-items-center" style="display:inline-flex">
                            <div class="col-auto" style="float:right; width:200px; height:100px">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col" style="float:right; width:200px">
                                <input class="form-control form-control-lg form-controlborderless" type="text" name="search" style="height: 45px"
                                       value="@ViewBag.SearchString"
                                       placeholder="Search user">
                            </div>
                            <!--end of col-->
                            <div class="col-auto" style="float:left; padding-left:3px">
                                <button class="btn btn-lg btn-success"
                                        type="submit">
                                    Search
                                </button>
                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of col-->
                </div>
                </form>
            </div>
            <!--end of col-->
        </div>
        <!--end of col-->
    </div>
    @if (ViewBag.search != "" && ViewBag.CountUsers > 0)
    {
        <div class="dropdown pull-right" style="float: right; width: 200px; height: 30px; padding-top:35px; padding-left: 5px">
            <button class="dropbtn">Search results</button>
            <div class="dropdown-content">
                @foreach (var user in ViewBag.UsersList)
                {
                    <li class="dropdown-item" style="list-style-type: none">
                        <a href="/Profiles/Show/@user.Id" class="glyphicon glyphicon-user"> @user.UserName </a>
                        <br />
                    </li>}
            </div>
        </div>}
</div>

<br />

<div class="container">
    <br />
    <h2 style="text-align:center; font-size:50px; color:black">@ViewBag.User.UserName</h2>
    <br />

   
    @if (ViewBag.Description != null)
    {
        <h5 style="text-align:center; font-size:20px;color:black"><strong>~@ViewBag.Description~</strong></h5>
        <br />
        <a class="glyphicon glyphicon-edit" href="/Profiles/Edit/" style="text-align:center;display:block"> Editeaza profil!</a>
    }
    else
    {
        <a class="glyphicon glyphicon-edit " href="/Profiles/Edit/" style="text-align:center;display:block"> Adauga descriere</a>
        <br />
        <br />
    }

</div>